.grid{
  display: grid;
  grid-template-columns: [xl-start] 1fr [md-start] minmax(0,850px) [md-end] 1fr [xl-end];
}

.grid * { grid-column: md; }
.grid-xl { grid-column: xl; }

.center {
  text-align: center;
  align-items: center;
}

.noHover{
  pointer-events: none;
}

.is-vertical-center {
  display: flex;
  align-items: center;
}

.relative {
  position: relative
}

.right {
  position: absolute;
  right: 20px;
}

.left {
  position: absolute;
  left: 10px;
}

.background {
  background-color: #2F303A;
}

.green {
  background-color: #557769;
  border-color: #557769;
}

.light-green {
  background-color: #8DC382;
}

.white {
  background: #FFFFFF;
}
